* {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
   font-family: Arial;
}


header {
   background-color: white;
}
body {
   background-color: rgb(246,248,249);
}

.lightblue {
   background-color:rgb(71,173,241);
}

.purple {
   background-color:rgb(156,114,228)
}

.green {
   background-color:rgb(100,192,169)
}

.orange {
   background-color:rgb(242,158,51)
}

.magenta {
   background-color:rgb(216,99,161)
}
/* Header */

header {
   margin-bottom: 50px;
}

#logo{
   line-height: 400px;
   vertical-align: middle;
   margin: 10px 20px;
}

#logo-text{
   display: inline-block;
   font-size: 42px;
   font-weight: bold;
   vertical-align: middle;
}

/* Fine Header */

/* Main */

.action, .list {
   width: 80%;
   margin: 3px auto;
   background-color: white;
   padding: 20px 50px;
}

.action {
   border-top-left-radius: 7px;
   border-top-right-radius: 7px;
}

.list {
   border-bottom-left-radius: 7px;
   border-bottom-right-radius: 7px;
}
.action  div{
   display: inline-block;
   border-radius: 7px;
   padding: 8px 12px;
   margin: 2px;
   border: 1px solid grey;
}

#addTask {
   color: white;
}

#addSection {
   color: rgb(197,203,208);

}

/* Tasks */

.task {
   margin: 20px 0px 20px 0px;
   font-weight: bold;
}

.check, .cross {
   display: inline-block;
   border-radius: 50%;
   font-size:11px;
   width: 18px;
   height: 18px;
   text-align: center;
}

.check {
   border: 1px solid rgb(112,197,176);
   color: rgb(112,197,176);;
}

.cross {
   border: 1px solid rgb(239,117,110);
   color: rgb(239,117,110);;
}

.tag {
   display: inline-block;
   color: white;
   border-radius: 10px;
   padding: 5px 8px;
   font-size: 12px;
}

/* Fine tasks */
/* Fine main */